<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="Conexion"
         connectionString="data source=dti-16;initial catalog=Productos;
                          integrated security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>